:root {
  --grid-container-border: 1px solid black;
  --cell-sidelength: 2rem;
  --snake-cell-border-radius: 1rem;
  --snake-color: black;
}

#app {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  border: var(--grid-container-border);
}

.cell {
  height: var(--cell-sidelength);
  width: var(--cell-sidelength);

  &.snake-head {
    background-color: var(--snake-color);
    border-radius: var(--snake-cell-border-radius);
  }
}
