:root {
  --grid-container-border: 1px solid black;
  --snake-cell-sidelength: 2rem;
  --snake-cell-border-radius: 100%;
  --snake-cell-color: black;
  --food-cell-color: lightgreen;
  --food-cell-sidelength: calc(var(--snake-cell-sidelength) * 0.7);
}

#app {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  border: var(--grid-container-border);
  place-items: center;
}

.cell {
  height: var(--snake-cell-sidelength);
  width: var(--snake-cell-sidelength);
  border-radius: var(--snake-cell-border-radius);

  &.snake-part {
    background-color: var(--snake-cell-color);
  }

  &.food {
    height: var(--food-cell-sidelength);
    width: var(--food-cell-sidelength);
    background-color: var(--food-cell-color);
  }
}
